<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <script type="text/javascript" src="/js/underscore-noflect.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>班级说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        .grid{
            height:200px;
        }
        #quanbushuoshuo{
            height:200px;
        }
    </style>
</head>
<body>

<% include header.ejs %>
<div class="jumbotron">
    <!--//没有登陆-->
    <%if(!login){%>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>
                    欢迎！
                </h1>
                <p>这里是我们交流的平台，欢迎大家注册呦</p>
                <p><a class="btn btn-primary btn-lg" href="/regist" role="button">注册</a></p>
            </div>
            <div class="col-lg-6">
                <p>已有账号登录</p>
                <form>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="密码">
                    </div>
                    <button type="button" id="denglu" class="btn btn-success">登陆</button>
                </form>
                <div class="alert alert-warning" role="alert" id="cuwukuang" style="display: none;">
                </div>
            </div>
        </div>

    </div>
    <%}else{%>
    <!--登陆之后显示发言框-->
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <a href="/setavatar"><img src="/avatar/<%= avatar %>" alt="" style="width: 100px; height: 100px; border-radius: 50px"/></a>
            </div>
            <div class="col-lg-6 col-lg-offset-1">
                <p><%=username%></p>
                <textarea name="content" id="content" cols="80" rows="4"></textarea>
                <button type="button" id="fabiao" class="btn btn-success">发表留言</button>
            </div>

        </div>
    </div>
    <%}%>
</div>

<div class="container">
    <!--//分页-->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!--分页的0123456-->
        </ul>
    </nav>
    <div class="row" id="quanbushuoshuo">
        <!--模板填充在这-->
    </div>
</div> <!-- /container -->

<!--//模板-->
<script type="text/template" id="moban">
    <div class="col-md-4 grid">
        <h2><img src="/avatar/{{=avatar}}" alt="" style="margin-right:10px;width: 40px; border-radius:50%"/>{{=usernmae}}</h2>
        <p>{{=content}}</p>
        <p>{{=datetime}}</p>
        <p><a class="btn btn-default" href="#" role="button">查看详情</a></p>
    </div>
</script>
<!--================================================== &ndash;&gt;-->
<!--分页-->
<script type="text/javascript">
    $.get("/getshuoshuoamount",function (result) {
        var amount = parseInt(result);
        var  pageamount = Math.ceil(amount/6);
        for(var i =0 ;i<pageamount;i++){
            $(".pagination").append("<li><a href='#'>" + i + "</a></li>");
        }
        $(".pagination li:first").addClass("active");
        $(".pagination li").click(function(){
            var page = $(this).index();
            getPage(page);
            $(this).addClass("active").siblings().removeClass("active")
        });
    })
</script>
<script type="text/javascript">
    var $quanbushuoshuo = $("#quanbushuoshuo");
    //得到模板
    var compiled = _.template($("#moban").html());

    //ajax读取文章列表
    getPage(0);
    function getPage(page) {
        $("#quanbushuoshuo").html("");
        $.ajax({
            "url":"/getAllshuoshuo?page=" + page,
            "type":"get",
            //迭代器
            "success":function(result){
                iterator(0);
                function iterator(i){
                    if(i==result.length){
                        //在这里书写请求完毕的事情
                        return;
                    }
                    $.get("/getuserinfo?username=" + result[i].usernmae,function (result2) {
                        result[i].avatar = result2.avatar;
                        //组装模板
                        var htmlstring = compiled(result[i]);
                        $("#quanbushuoshuo").append($(htmlstring));
                        iterator(i+1);
                    })
                }
            }
        });
    };
    //错误框
    $("input").focus(function () {
        $("#cuwukuang").fadeOut();
    });
    //登陆业务
    $("#denglu").click(function () {
        $.post("/dologin",{
            "username" : $("#username").val(),
            "password" : $("#password").val()
        },function (result) {
            if(result == "1"){
                //注册成功

                window.location="/";
            }else if(result == "-1"){
                //用户名被占用
                $("#cuwukuang").fadeIn();
                $("#cuwukuang").html("用户名不存在");
            }else if(result == "-2"){
                //服务器错误
                $("#cuwukuang").fadeIn();
                $("#cuwukuang").html("密码错误");
            }
        })
    });
    //点击发表按钮的业务
    $("#fabiao").click(function () {
        $.post("/post",{
           "content":$("#content").val()
        },function (result) {
            if(result == "1"){
                alert("发表成功");
            }else {
               alert("发表失败")
            }
        })
    });
</script>
</body>
</html>
