<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>班级说说--登陆</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        .one{
            border-bottom: 1px solid #cccccc;
        }
    </style>
</head>
<body>
<!--导航条-->
<% include header.ejs%>
<div class="container">
    <img src="/avatar/<%=cirentouxiang%>" style="width: 100px; height: 100px; border-radius: 50px;float: left;" />
    <h1 style="height: 100px; padding-top: 10px"><%=user%>个人主页</h1>
    <div class="row col-lg-6">
        <%for(var i = 0; i < cirenshuoshuo.length; i ++){%>
            <div class="one">
                <p><%=cirenshuoshuo[i].datetime%></p>
                <p><%=cirenshuoshuo[i].content%></p>

            </div>
        <%}%>

    </div>
</div>
<!--==================================================-->

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
